[client]
	user=root
	password=1234
[clientloop]
	user=root
	password=KL4aIbcNHA8JeQel
	database=loopimoveis
	host=159.65.34.203
[clientaocubo]
	user=ac3_user
	password=7wE6gK)Z{*m(
	host=mysql427.umbler.com
	port=41890
[mysqld]
	secure_file_priv="/Users/iagomileo/Downloads"
